<?xml version="1.0"?>



<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=99d45662-63b3-4f5f-98ea-a3d200d612e7.sqlserver.sequelizer.com;Database=db99d4566263b34f5f98eaa3d200d612e7;User ID=ydknccrhpklgwwln;Password=ZHdQ5QjzTWbFsx2wctSMrUGGuJQfKhMwL6VhBCDp67Uqdi7mEdnHjWofbDvu8eWL;"/>
  </connectionStrings>
</configuration>